.page {
    min-width: 1100px;
    max-width: 1600px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: auto;
}

.header {
    background-color: #FFFFFF;
    background-image: url(../images/background_header.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    position: relative;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__logo {
    width: 105px;
    height: 39px;
    position: relative;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
  }
  
  .nav__links {
    display: flex;
    column-gap: 20px;
    list-style: none;
    margin: 30px 80px 0px;
    align-content: space-between;
  }

  .nav__link {
    color: #000000;
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .nav__link:hover {
    color: #2f80ed;
  }

  .header__span-accent {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -1px;
    display: block;
    color: #2f80ed;
  }
  
  .header__title {
    max-width: 729px;
    padding-top: 139px;
    padding-left: 80px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -1px;
  }
  
  .header__description {
    max-width: 683px;
    padding-top: 28px;
    padding-left: 80px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
  
  .header__image {
    width: 646px;
    height: 568px;
    top: 124px;
    right: 5px;
    position: absolute;
  }
  
  .header__footer {
    margin-top: auto;
    width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .header__paragraph-hours {
    list-style: none;
    margin: 0;
    padding-left: 80px;
    padding-bottom: 40px;
  }
  
  .header__paragraph-adress {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding-right: 80px;
    padding-bottom: 40px;
    z-index: 1;
  }

  .recipes {
    background-color: #0a2750;
    background-image: url(../images/background_recipes.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .recipes__title {
    max-width: 580px;
    margin: 0;
    padding-top: 100px;
    padding-left: 80px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #ffffff;
  }

  .recipes__subtitle {
    max-width: 438px;
    margin: 0;
    padding-top: 24px;
    padding-left: 80px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
  
  .recipes__videos {
    padding-top: 80px;
    padding-bottom: 215px;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .recipes__video-item {
    margin: 0;
  }

  .recipes__iframe {
    border: none;
    position: relative;
    width: 480px;
    height: 273px;
  }

  .recipes__video-caption {
    margin: 0;
    padding-left: 0;
    padding-top: 24px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }

  .reservation {
    background-color: #d9e7ff;
    background-image: url(../images/background_reservation.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .reservation__title {
    padding-top: 100px;
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
  }
  
  .reservation__form {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  .form__fieldset {
    border: none;
    margin: 0;
    padding: 0;
    max-width: 385px;
  }
  
  .form__input {
    border-radius: 4px;
    border-color: #838383;
    width: 385px;
    height: 60px;
    margin-top: 8px;
    margin-bottom: 32px;
    padding: 0;
    display: block;
  }
  
  .form__input::placeholder {
    padding-left: 20px;
    padding-top: 15px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
  }
  
  .form__button {
    border-radius: 4px;
    height: 60px;
    width: 385px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color: #2f80ed;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .form__button:hover {
    opacity: 70%;
  }
  
  .form__checkbox {
    border-radius: 2px;
    width: 20px;
    height: 20px;
  }
  
  .form__label {
    display: block;
  }
  
  .form__label-text-checkbox {
    padding-top: 32px;
    padding-bottom: 0;
    padding-left: 12px;
    font-family: "inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  
  .form__label-text {
    font-family: "inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  
  .form__label-checkbox {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    gap: 12px;
  }